*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
.container{
    display:grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}
.title,.btn{
    display: flex;
    justify-content: center;
}
.title{
    color:rgb(6, 6, 100);
    margin: 10px;
    background-color: white;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0px -5px rgb(42, 4, 112);
}
.img{
    width: 60px;
    height: 60px;
}
.content{
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 12px rgb(83, 82, 82);
}
button{
    width: 150px;
    height: 45px;
    margin: 20px;;
    border-radius: 10px;
    background-color: rgb(27, 2, 75);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    box-shadow: inset -3px -2px white;
}
button:active{
    transform: scale(0.98);
}
#result{
    background-color: rgb(250, 244, 250);
    display: grid;
    justify-content: center;
    padding: 10px;
    width:500px;
    height: min-content;
    margin: 50px;
    font-size: 25px;
    box-shadow: inset 5px 5px 5px rgb(133, 130, 130), inset  -5px -5px 5px rgb(133, 130, 130);
    border-radius: 20px;
    border: 3px solid rgb(5, 5, 99);
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
